.hero-main{
     color:#ffffff;
     background-color: #2E2F42 ;
}


.hero-title{
     font-weight: 700;
     font-size: 56px;
     line-height: 60/56;
     letter-spacing: 0.02em;
     text-align: center;
}

.hero-button{
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.04em;
     vertical-align: middle;
     color: #ffffff;
     background-color: #4D5AE5;
     cursor: pointer;
}

.hero-button:hover,
.hero-button:focus{
     background-color:#404bbf ;
}