.ourteam{
     font-family: Roboto;
     font-weight: 700;
     font-size: 36px;
     line-height:1.11;
     letter-spacing: 0.02em;
     text-align: center;
     color:#2E2F42;
}

.team{
     background-color:#F4F4FD ;
}

.team .subtitle{
     text-align: center;
}
.team .text{
     text-align: center;
}

.border{
     background-color:#ffffff;
}